{% extends 'base.html' %} {% block content %}
<div class="container mx-auto px-8 py-4">
  <main class="grid grid-cols-5 gap-4">
    <div class="col-span-3 p-4">
      <form action="/create" method="POST" id="create-tweet-form">
        {% csrf_token %}
        <div>
          <input type="hidden" value="/" name="next" />
          <textarea
            name="content"
            id="content"
            placeholder="What's happening?"
            class="w-full p-2 border-2 rounded border-pink-500 focus:border-pink-600 outline-none"
          ></textarea>
          <div class="text-xs text-red-600" id="error"></div>
        </div>
        <button
          type="submit"
          class="px-4 py-2 mt-2 bg-pink-600 text-white rounded outline-none"
          id="tweet-btn"
        >
          Tweet
        </button>
      </form>
      <h1 class="text-2xl mt-4">Latest Tweets</h1>
      <div id="tweet-container" class="mt-4"></div>
    </div>
    <div class="col-span-2"></div>
  </main>
</div>

<script>
  const tweetContainer = document.querySelector("#tweet-container");
  const tweetForm = document.querySelector("#create-tweet-form");
  const contentArea = document.querySelector("#content");
  const tweetButton = document.querySelector("#tweet-btn");
  const error = document.querySelector("#error");

  tweetContainer.innerHTML = "Loading Tweets...";

  const handleLike = async (tweet_id, like_count) => {
    console.log(tweet_id, like_count);
    const url = "/api/tweets/action";
    const method = "POST";
    const data = {
      id: tweet_id,
      action: "like",
    };

    let response = await fetch(url, {
      method: method,
      body: JSON.stringify(data),
      headers: { "Content-type": "application/json" },
    });
    let response_data = await response.json();
    console.log(response_data);
  };

  tweetForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const form = e.target;
    const formData = new FormData(e.target);
    const endpoint = form.getAttribute("action");
    const method = form.getAttribute("method");

    const xhr = new XMLHttpRequest();
    xhr.responseType = "json";
    xhr.open(method, endpoint);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onload = function () {
      if (xhr.status === 201) {
        const serverResponse = xhr.response;
        tweetContainer.innerHTML =
          `<div id="tweet" class=" rounded border border-gray-300 p-2 my-4">
            <div class="pb-2">${serverResponse.content}</div>
            <span class="flex cursor-pointer" onClick="handleLike(${serverResponse.id}, ${serverResponse.likes})">
              <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg> ${serverResponse.likes}
            </span>
          </div>` + tweetContainer.innerHTML;
        form.reset();
        error.innerHTML = "";
      } else if (xhr.status === 400) {
        const serverResponse = xhr.response;
        error.innerHTML = serverResponse.content[0];
      }
    };
    xhr.send(formData);
  });

  const fetchTweets = async () => {
    let response = await fetch("/tweets");
    let data = await response.json();
    const listedTweets = data;
    console.log(listedTweets);
    let tweets_view = "";
    if (listedTweets.length > 0) {
      listedTweets.forEach((tweet) => {
        let currentTweet = `<div id="tweet" class=" rounded border border-gray-300 p-2 my-4">
          <div class="pb-2">${tweet.content}</div>
          <span class="flex cursor-pointer" onClick="handleLike(${tweet.id}, ${tweet.likes})">
            <svg class="w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg> ${tweet.likes}
          </span>
        </div>`;
        tweets_view += currentTweet;
      });
    }
    tweetContainer.innerHTML = tweets_view;
  };

  fetchTweets();
</script>
{% endblock content %}
